{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Not Allowed</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'media/image/favicon.png' %}" />

  <!-- Plugin styles -->
  <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">

  <!-- App styles -->
  <link rel="stylesheet" href="{% static 'css/app.min.css' %}" type="text/css">
</head>

<body class="error-page bg-white">

  <div>
    <h4 class="mb-0 text-muted font-weight-normal">Oops! Access Denied!</h4>
    <div>
      <span class="error-page-item font-weight-bold">5</span>
      <span class="error-page-item font-weight-bold">0</span>
      <span class="error-page-item font-weight-bold">3</span>
    </div>
    <a href="{% url 'home' %}" class="btn btn-outline-light btn-lg">Go Home</a>
  </div>

  <!-- Plugin scripts -->
  <script src="{% static 'vendors/bundle.js' %}"></script>

  <!-- App scripts -->
  <script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>